<?xml version='1.0' encoding='utf-8'?>
<widget id="es.guinotepro.guinotepro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GuiñotePro</name>
    <description>
        Videojuego de guiñote
    </description>
    <author email="ivan@lopez.es" href="http://www.guiñotepro.es">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<preference name="Orientation" value="landscape" />
	
</widget>
