<?xml version='1.0' encoding='utf-8'?>
<widget id="es.guinotepro.guinotepro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GuiñotePro</name>
    <description>
        Videojuego de guiñote
    </description>
    <author email="ivan@lopez.es" href="http://www.guiñotepro.es">
        Iván López Asín
    </author>
    <content src="index.html" />
    <access origin="*" />
	<content src="index.html" />
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<preference name="Orientation" value="landscape" />
	
	
    <plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-whitelist" source="npm" />


	
	<icon src="icon.png" />
    <icon src="android-icon-36x36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="android-icon-48x48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="android-icon-72x72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="android-icon-96x96.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="apple-icon-57x57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="apple-icon-72x72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="apple-icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="apple-icon-114x114.png"         gap:platform="ios"        width="144" height="144" />
   
</widget>
